{% extends "base.html" %}
<!-- register.html displays the register page -->
{% block title %}Register{% endblock %}
{% block content1 %}
    <h2>Register</h2>
    <p style="color:red;">Warning: The website was built for a
        school project which is a course requirement. <br>
         DO NOT ENTER PERSONAL PASSWORDS</p>
   <form method="post">
        <table>
            <tr>
                <td><label for="username" >New Username</label></td>
                <td><input name="username" id="username" required></td>
            </tr>
            <tr>
                <td><label for="password">New Password</label></td>
                <td> <input type="password" name="password" id="password" required></td>
            </tr>
            <tr>
                <td><label for="password">Confirm Password</label></td>
                <td> <input type="password" name="confirm_password" id="confirm_password" required></td>
            </tr>
            <tr>
                <td colspan='2'><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
    <button onclick="window.location.href='http://127.0.0.1:5000/login/';">Back to Login</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="color:red;">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}